@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Heading";
  src: url("/4UaRrENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iq2vgCIhM907w.ttf");
}

.linear-bg{
  background: -webkit-linear-gradient(70deg, #4b90ff, #ff5506);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #e2e8f0;
    border-radius: 20px;
    outline: 1px solid #e2e8f0;
  }
  @media (width < 768px) {
    .scrollbar::-webkit-scrollbar {
      width: 1px;
    }
    .home-cards-bar::-webkit-scrollbar{
      display: none;
    }
  }
  
