@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 20px;
    outline: 1px solid #fff;
  }
  @media (width < 768px) {
    .scrollbar::-webkit-scrollbar {
      width: 2;
    }
  }
  
